{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "printWidth": 105,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all"
}
